@import url('/bootstrap.min.css');


body, html {
    height: 100%;
    color: rgb(0, 0, 0);
    font-family: sans-serif;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    overflow: hidden;
    background: radial-gradient(circle at top left, rgb(254, 254, 246), rgb(116, 115, 108)), radial-gradient(circle at bottom right, #4B4B4Bff, #181818ff);
    background-blend-mode: screen;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ffffff00;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

iframe {
    position: absolute;
    top: 85px;
}

* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/ptsans/v17/jizaRExUiTo99u79D0KEwA.ttf) format('truetype');
}

html,
body {
    margin: 0;
    padding: 0;
}

.menu {
    list-style: none;
    padding: 0px;
    width: 40%;
    height: 40px;
    margin: auto;
    position: relative;
    background-color: rgba(165, 169, 172, 0);
    z-index: 7;
    border-radius: 8px;
    float: right;
    margin: 2%;
    display: flex;
    justify-content: center;
    align-items: center;

}

h1 {
    text-align: center;
    font-size: 48px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #222;
}

.menu li {
    float: left;
    width: 25%;
    height: 100%;
    margin: 0;
    padding: 0;
    border-radius: 8px;
}

.menu a {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-decoration: none;
    position: relative;
    font-size: 18px;
    z-index: 9;
    border-radius: 8px;
}

a.active {
    background-color: #e74d3c3d;
    pointer-events: none;
    border-radius: 8px;
}

li.slider {
    width: 25%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #e74d3c25;
    z-index: 8;
    border-radius: 8px;
    transition: left 0.4s, background-color 0.4s;
}

.menu li:nth-child(1):hover ~ .slider,
.menu li:nth-child(1):focus ~ .slider,
.menu li:nth-child(1):active ~ .slider {
    left: 0;
    background-color: #3498db51;
}

.menu li:nth-child(2):hover ~ .slider,
.menu li:nth-child(2):focus ~ .slider,
.menu li:nth-child(2):active ~ .slider {
    left: 25%;
    background-color: #9c59b63c;
}

.menu li:nth-child(3):hover ~ .slider,
.menu li:nth-child(3):focus ~ .slider,
.menu li:nth-child(3):active ~ .slider {
    left: 50%;
    background-color: #e67d223c;
}

.menu li:nth-child(4):hover ~ .slider,
.menu li:nth-child(4):focus ~ .slider,
.menu li:nth-child(4):active ~ .slider {
    left: 75%;
    background-color: #16a0843e;
}


.section {
    position: fixed;
    color: rgb(0, 0, 0);
    font-family: sans-serif;
    bottom: 0;
    right: 0;
    width: 90%;
    height: 80vh;
    min-width: 300px; /* Minimum width to maintain responsiveness */
    min-height: 300px; /* Minimum height to maintain responsiveness */
    background-color: transparent;
    overflow: hidden;
}

.logo, .logo img {
    display: block;
    position: absolute;
    top: -10px;
    left: 10px;
    width: 150px;
    z-index: 10;
}

#tagP {
    z-index: 10;
    font-size: 0.8em;
    color: rgb(0, 0, 0);
    font-family: sans-serif, 'Open Sans';
    text-align: left;
    position: absolute;
    top: 70px;
    left: 85px;
    width: 175px;
    position: absolute;


}


.section .content {
    padding: 20px;
}

#section1 > h2 {
    display: none;
}

.text-pop-up-top {
    -webkit-animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.section h2 {
    margin-top: 0;
    font-size: 2.5em;
    text-decoration: none;
    font-family: sans-serif, 'Open Sans';
    -webkit-text-stroke: 1px #000;
    color: transparent;
    background-clip: text;
}

#overlay {
    top: 30%;
    position: fixed;
    cursor: none;
    bottom: 0;
    left: 80px;
    width: 80%;
    height: 50vh;
    background-color: transparent;
    overflow: hidden;
    z-index: 9999;
    background: transparent;

}


.section p {
    margin-top: 0;
    font-family: sans-serif, 'Open Sans';
    font-size: 16px;
}

.section .image {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 35%;
}


#section1 {
    z-index: 3;
    opacity: 1;
    transform: scale(1);
}

#section2 {
    z-index: 2;
    opacity: 0;
}

#section3 {
    z-index: 1;
    opacity: 0;
}

#section4 {
    z-index: 0;
    opacity: 0;
}
.flip-text{
    font-family: 'Asap' !important;
    font-weight: 900 !important;
    font-size: 4em !important;
    right:5%;
    max-width: 45% !important;
    text-align: center !important;
    position: absolute !important;
    top: 20% !important;

}