$header-height: 120px;
$footer-height: 30px;

$item-count: 5;
$width: calc(100% / $item-count);
$colors: #3498db51, #9c59b63c, #e67d223c, #16a0843e, rgba(39, 169, 50, 0.32);

@mixin font($size) {
    @if ($size == 'title') {
        font-size: 3.5rem;
        font-weight: 900;
        letter-spacing: 0.03rem;
        -webkit-text-stroke: 2px #000;
        text-decoration: none;
        color: transparent;
        background-clip: text;

        &::selection {
            color: transparent;
            background: #aab8c4;
        }

        @media (max-width: 425px) {
            font-size: 2.5rem;
        }

    } @else if ($size == 'sub-title') {
        font-weight: 900;
        font-size: 1.3rem;
        letter-spacing: 0.03rem;
        line-height: 1;
        color: #474747;

    } @else if ($size == 'text') {
        font-weight: 400;
        color: #242424;

    } @else if ($size == 'action-button') {
        font-weight: 400;
        font-size: 1rem;
    }
}
