$header-height: 110px;
$footer-height: 30px;

@mixin font($size) {
    @if ($size == 'title') {
        font-family: 'Lato', sans-serif;
        font-size: 3.5rem;
        font-weight: 900;
        letter-spacing: 0.03rem;
        -webkit-text-stroke: 1px #000;
        text-decoration: none;
        color: transparent;
        background-clip: text;

        &::selection {
            color: transparent;
            background: #aab8c4;
        }

        @media (max-width: 425px) {
            font-size: 2.5rem;
        }

    } @else if ($size == 'sub-title') {
        font-family: 'Asap', 'Lato', sans-serif;
        font-weight: 900;
        font-size: 1.3rem;
        letter-spacing: 0.03rem;
        line-height: 1;
        color: #474747;

    } @else if ($size == 'text') {
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        color: #242424;

    } @else if ($size == 'action-button') {
        font-family: 'Asap', sans-serif;
        font-weight: 400;
        font-size: 1rem;
    }
}
