#contact .content {
    width: 50%;
    max-width: 500px;
}

.form-control {
    width: 100%;
    background-color: rgba(137, 238, 240, 0.48);
}


@media (max-width: 576px) {
    #contact .content {
        width: 100%;
    }

}

@media (max-width: 720px) {
    .flip-container .flip-text {
        font-family: 'Asap' !important;
        font-weight: 900 !important;
        font-size: 4em !important;
        left: 5%;
        max-width: 75% !important;
        text-align: center !important;
        position: absolute !important;
        bottom: 5% !important;
        top: initial !important; /* Reset the 'top' property */
    }
}
