.logo {
    display: block;
    position: absolute;
    top: 0;
    left: 10px;
    width: 260px;
    height: 120px;
}

.logo img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: auto;
}

#tagP {
    z-index: 10;
    font-size: 0.8em;
    color: rgb(0, 0, 0);
    font-family: sans-serif, 'Open Sans';
    text-align: left;
    position: absolute;
    top: 80px;
    left: 85px;
    width: 175px;
    margin-bottom: 0;
}


/*-----------------------------------------------------------------------------*/

.menu {
    list-style: none;
    padding: 0;
    width: 40%;
    height: 40px;
    position: relative;
    background-color: rgba(165, 169, 172, 0);
    z-index: 7;
    border-radius: 8px;
    float: right;
    margin: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu li {
    float: left;
    width: 25%;
    height: 100%;
    margin: 0;
    padding: 0;
    border-radius: 8px;
}

.menu a {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-decoration: none;
    position: relative;
    font-size: 1.5rem;
    z-index: 9;
}

li.slider {
    width: 25%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #e74d3c25;
    z-index: 8;
    border-radius: 8px;
    transition: left 0.4s, background-color 0.4s;
}

.menu li:nth-child(1).active ~ .slider {
    left: 0;
    background-color: #3498db51;
}

.menu li:nth-child(2).active ~ .slider {
    left: 25%;
    background-color: #9c59b63c;
}

.menu li:nth-child(3).active ~ .slider {
    left: 50%;
    background-color: #e67d223c;
}

.menu li:nth-child(4).active ~ .slider {
    left: 75%;
    background-color: #16a0843e;
}


.menu li:nth-child(1):hover ~ .slider,
.menu li:nth-child(1):focus ~ .slider,
.menu li:nth-child(1):active ~ .slider {
    left: 0;
    background-color: #3498db51;
}

.menu li:nth-child(2):hover ~ .slider,
.menu li:nth-child(2):focus ~ .slider,
.menu li:nth-child(2):active ~ .slider {
    left: 25%;
    background-color: #9c59b63c;
}


.menu li:nth-child(3):hover ~ .slider,
.menu li:nth-child(3):focus ~ .slider,
.menu li:nth-child(3):active ~ .slider {
    left: 50%;
    background-color: #e67d223c;
}

.menu li:nth-child(4):hover ~ .slider,
.menu li:nth-child(4):focus ~ .slider,
.menu li:nth-child(4):active ~ .slider {
    left: 75%;
    background-color: #16a0843e;
}

@media (max-width: 650px) {
    .logo {
        position: relative;
        top: -30px;
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .logo img {
        position: relative;
    }

    #tagP {
        position: static;
    }

    .menu {
        position: relative;
        top: -30px;
        width: min(100%, 300px);
        margin: 10px auto;
        float: none;
        height: 30px;
    }

    .menu li {
        display: inline;
    }

    .menu a {
        font-size: 1.3rem;
    }
}
